# Backend URL
VITE_BACKEND_URL=http://localhost:4000

# Use mock data
VITE_USE_MOCK_DATA=false

# Solana RPC URL (default: localnet)
VITE_SOLANA_RPC_URL=http://localhost:8899

# Anchor program ID (from Anchor.toml)
VITE_PROGRAM_ID=GW9yVGbyRmzwxAzNCmYHruT8FAmVLh48ibfdjniHgzx3
